[Desktop Entry]
Version=1.0
Type=Application
Name=Omni AI
Comment=Start Omni AI application
Exec=bash -c 'if [ ! -d "$HOME/omni-ai" ]; then git clone https://github.com/santhoshkammari/omni-ai.git $HOME/omni-ai; fi && cd $HOME/omni-ai && chmod +x install.sh && ./install.sh  && xdg-open http://localhost:8501'
Terminal=true
Categories=Development;